<header>
	<h1><%= @user.organization_name %> 's Events Hosted</h1>
	<ul class="actions">
		<li> <%= link_to "Start Event", new_event_path, class: "new" %></li>
	</ul>
</header>

<%  if @user.organizeed_events.any? %>
	<table class="table table-stripped">
		<thead>
			<tr>
				<th>Title</th>
				<th>start date</th>
				<th>End date</th>
				
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody>
			<% @user.organizeed_events.reverse.each do |event|%>
			<tr>
				<td><%=link_to event.title, event_path(event) %></td>
					<td><%= time_format(event.start_date)%></td>
					<td><%= time_format(event.end_date) %></td>
					<td></td>
					<td>
						<%=link_to "Edit", edit_event_path(event), class: "btn btn-primary" %>
					</td>
					<td><%=link_to "Delete", event_path(event), method: :delete, data: {confirm: "Are you sure?"}, class: "delete" %></td>
				

			</tr>
			<% end %>
		</tbody>		
	</table>
<% else %> 
<p> <%= @user.organization_name %> has no events yet</p>	
<% end %>

<header>
	<h1><%= @user.first_name %> 's Registered Events</h1>
</header>



<%  if @user.attended_events.any? %>
	<table class="table table-stripped">
		<thead>
			<tr>
				<th>Title</th>
				<th>start date</th>
				<th>End date</th>
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody>
			<% @user.attended_events.reverse.each do |event|%>
			<tr>
				<td><%=link_to event.title, event_path(event) %></td>
					<td><%= time_format(event.start_date)%></td>
					<td><%= time_format(event.end_date) %></td>
					<td></td>
					<td>
						<%=link_to "Edit", edit_event_path(event), class: "btn btn-primary" %>
					</td>
					<td><%=link_to "Delete", event_path(event), method: :delete, data: {confirm: "Are you sure?"}, class: "delete" %></td>
				

			</tr>
			<% end %>
		</tbody>		
	</table>
<% else %> 
<p> <%= @user.organization_name %> has no events yet</p>	
<% end %>