<h1>List of all events</h1>
<p><%= link_to "Add event", new_event_path %></p>



<%= @events.each do |event| %>

    <div>
        <h4><%= link_to event.title, event %></h4

        <p> <%= event.description%></p>
        <p>"The event start date is:" <strong><%= time_format(event.start_date) %><%= fa_icon "camera-retro" %></strong></p>
        <p>"The event End date is: " <strong><%= time_format(event.end_date) %></strong></p>
    </div>
<% end %>
