<header>
<h1>List of all events</h1>
<ul class = "actions">
	<li><%= link_to "New event", new_event_path, class: "new" %></li>
</ul>
</header>
<div class="row">
	<div class="col-sm-3 pull-right">
		<div class="sidebar">
			<h3 class="discover"> Discover</h3>
			<ul class="nav nav-pilla nav stacked">
				<li class="<%= "active" if current_page?("/events")%>"><%= link_to "All Events",events_path %></li>
			</ul>
		</div>
	</div>
</div>
<h3>Discover and register to attend Events to Socialize</h3>




<%= @events.each do |event| %>

    <div class="col-sm-9 pull-left">
    	<%= link_to event_path(event) do%>
    	  <div class="events">
    		 <div class="row">
    			 <div class="col-sm-3">
    				   <%= image_tag "https://picsum.photos/200/100/?random" %>
    			 </div>
    			   <div class="col-sm-9">
    				         <h3 class="event-title"><%= event.title%></h3>
    				         <p>
    				         	<span class="event-venue"><%= event.venue %></span><strong> <%= event.location%></strong>
    				         </p>
    				         <p class="lead-time">
    				                 <span class="event-start"><%= time_format(event.start_date)%></span>
    				               <span class="pull-right">Organized by:</span>
    				           </p>
    			       </div>
    		      </div>
    	   </div>
    	<% end %> 

    </div>
<% end %>
