<h1><%= @event.title %></h1>

<div>
	<p><%= @event.description %></p>

	<p><%= @event.start_date %></p>

	<p><%= @event.end_date %></p>

	<p><%= @event.venue %></p>

	<p><%= @event.location %></p>
</div>