<h1><%= @event.title %></h1>

<div>
	<p><%= @event.description %></p>

	<p><%= @event.start_date %></p>

	<p><%= @event.end_date %></p>

	<p><%= @event.venue %></p>

	<p><%= @event.location %></p>
</div>

<p><%= link_to "Edit event", edit_event_path(@event)%> | <%= link_to "delete this Event", event_path(@event), method: :delete, data: {confirm: "Are you sure?"}%> </p>
<p><%=link_to "All Events", events_path %></p>