<% provide(:title, @event.title) %>
<header>
    <h1 id="show-title"><%= @event.title %></h1>
    <ul class="actions">
    	<li><%= link_to "Edit event", edit_event_path(@event), class: "edit" if policy(@event).edit? %></li>
    	<li><%= link_to "delete this Event", event_path(@event), method: :delete, data: {confirm: "Are you sure?"},class: "delete" if policy(@event).destroy? %></li>
    </ul>
</header>




<div class="row">
	<div class="col-sm-9">
		<%= image_tag  "https://picsum.photos/1080/500", class: "event-image" %>
		<div class="event-meta">
			<h4><span class="event-start"><strong>starts:</strong><%= time_format(@event.start_date) %></span></h4>
			<p>
				<span class="event-end"><strong>ends:</strong><%= time_format(@event.end_date) %></span>
				
			</p>
		</div>
		<div class="event-details">
			<h3>Event Details</h3>
			<p><%= @event.description %></p>
		</div>
	</div>
	

<div class="col-sm-3">
	<div class="sidebar">
		<h4 class="organizer"><%= link_to @event.organizer.organization_name, user_path(@event.organizer) %></h4>
		<p>
			<span class="event-venue"> <%= @event.venue%> <strong><%= @event.location%></strong></span>
			
		</p>
	   </div>
	   <hr>
	   <div class="sidebar">
		<h4 class="tags">Tags</h4>
	   </div>
	   <hr>
	   <div class="sidebar">
		<h4 class="attendees">Attendees</h4>
	   </div>
	   <hr>
	   <div class="sidebar">
		<h4 class="likes"> Likes</h4>
	   </div>
	
  </div>
</div>


<p><%=link_to "All Events", events_path %></p>